@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Custom global styles --- */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* light background */
  font-family: 'Poppins', sans-serif;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6;
}
